<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>ReNoted - Your Digital Mind Palace</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <link rel="stylesheet" href="/assets/styles/renoted_styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll header_color">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">

          <h2 class="centertext"><img src="assets/images/logo_white_4x.png" height="64" width="64" style="padding-right: 20px" /><strong>ReNoted - Your Digital Mind Palace</strong></h2>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h4 class="centertext">Revolutionizing the way we consume the Web</h4>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-navigation mdl-js-ripple-effect tab_color">
          <a href="#overview" class="mdl-layout__tab">Home</a>
          <a href="#components" class="mdl-layout__tab">Components</a>
          <div class="mdl-layout-spacer"></div>
         <!-- <a href="#features" class="mdl-layout__tab">Request Invite</a>
         -->
          {% if username %}
            <span class="mdl-layout__tab">Logged in as {{username}}</span>
            <a href="{{ request.route_url("logout") }}" class="mdl-layout__tab">LOG OUT</a>
          {% else %}
            <a href="{{ base_url }}login" class="mdl-layout__tab">LOG IN</a>
          {% endif %}

        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">

          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">          
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone  icon_color mdl-color-text--white">
              <i class="material-icons">border_color</i>
            </header>

            <div class="mdl-card mdl-cell mdl-cell--9-col">
              <div class="mdl-card__supporting-text">
                <h4><strong>HIGHLIGHT & ANNOTATE WEB ARTICLES <br> - News sites, Blogs, Information Websites etc.</strong></h4>
                Supports majority of Websites
              </div>
            </div>
              <div class="mdl-card__actions">
                <a href="#components" class="mdl-button">View Tutorial</a>
              </div>



            <div class="mdl-card mdl-cell mdl-cell--9-col">
              <div class="mdl-card__supporting-text">
                <h4><strong>SNIP & ANNOTATE ONLINE VIDEOS <br> - Tutorials, Lectures, Game Playthroughs etc.</strong></h4>
                Currently Supports YouTube - World's largest collection of Videos
              </div>

            </div>
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone icon_color  mdl-color-text--white">
              <i class="material-icons">subscriptions</i>
            </header>

              <div class="mdl-card__actions">
                <a href="#" class="mdl-button">View Tutorial</a>
              </div>



            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone icon_color  mdl-color-text--white">
              <i class="material-icons">queue_music</i>
            </header>

            <div class="mdl-card mdl-cell mdl-cell--9-col">
              <div class="mdl-card__supporting-text">
                <h4><strong>CLIP & ANNOTATE ONLINE AUDIO CONTENT <br> - Podcasts, Lectures, Interviews etc.</strong></h4>
                Currently Supports SoundCloud - World's largest audio and music streaming platform
              </div>
            </div>
              <div class="mdl-card__actions">
                <a href="#" class="mdl-button">View Tutorial</a>
              </div>
          </section>


          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
              <h4 class="mdl-card__title-text centertext" style="color: #616161; margin-top: 20px"><strong>OTHER FEATURES AT A GLANCE</strong></h4>
            </div>
          <ul class="list-use mdl-list list-margins">
            <li class="mdl-list__item mdl-list__item--three-line" style="color: #616161">
              <span class="mdl-list__item-primary-content">
                <!-- <i class="material-icons" style="margin-right: 50px">play_circle_filled</i> -->
                <i class="material-icons mdl-list__item-avatar" style="margin-right: 50px">local_offer</i>
                <span><strong>CATEGORIZE AND ORGANIZE WITH TAGS</strong></span>
                <span class="mdl-list__item-text-body">
                  With annotation-level tags you have the flexibility to provide unique category to each excerpt, regardless of the page it belongs to.
                </span>
              </span>
            </li>
            <li class="mdl-list__item mdl-list__item--three-line" style="color: #616161">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons  mdl-list__item-avatar" style="margin-right: 50px">phonelink</i>
                <span><strong>ACCESS FROM ANYWHERE, ANYTIME</strong></span>
                <span class="mdl-list__item-text-body">
                  Our web application is compatible with all the latest Desktop as well as Mobile browsers. You can access your ReNotes from anywhere, anytime.
                </span>
              </span>

            </li>
            <li class="mdl-list__item mdl-list__item--three-line" style="color: #616161">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons  mdl-list__item-avatar" style="margin-right: 50px">find_in_page</i>
                <span><strong>RETRIEVE WITH POWERFUL SEARCH</strong></span>
                <span class="mdl-list__item-text-body">
                  Our state-of-the-art Search lets you find your ReNotes using plain-text as well as tag facets. It is lightening fast and developed to provide most relevant results.
                </span>
              </span>
            </li>
          </ul>
          </div>
          </section>


          <section id="components"  class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">       
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone icon_color mdl-color-text--white">
              <i class="material-icons">chrome_reader_mode</i>
            </header>

            <div class="mdl-card mdl-cell mdl-cell--9-col" >
              <div class="mdl-card__supporting-text">
                <h4><strong>BROWSER SIDEBAR</strong></h4>
                No matter what you are doing - Reading a news article, Watching a Ted Talk or Listening to your favourite Podcast - you can summon ReNoted with a click and pen-down your thoughts without the need for switching the context!
                <br>
                <br>
                SUPPORTED BROWSERS: Google Chrome (version); Support for Firefox Coming Soon.
              </div>
            </div>
              <div class="mdl-card__actions">
                <a href="#" class="mdl-button">LINK TO CHROME EXTENSION</a>
              </div>


            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone icon_color mdl-color-text--white">
              <i class="material-icons">cloud</i>
            </header>

            <div class="mdl-card mdl-cell mdl-cell--9-col">
              <div class="mdl-card__supporting-text">
                <h4><strong>CLOUD-BASED WEB APPLICATION</strong></h4>

                Our Cloud application has been designed to allow access from any device, anytime. This is the place you visit - to review your notes, to revise your research before an important meeting, to refer to researched facts while writing an article, to recollect inspirations & ideas and to reinforce your Knowledge in the process.
                <br>
                <br>
                COMING SOON: Dedicated Mobile and Desktop Applications
              </div>
            </div>
              <div class="mdl-card__actions">
                <a href="#" class="mdl-button" >Sign In</a>
              </div>



<!--
            <ul class="list-use mdl-list list-margins">
            <li class="mdl-list__item mdl-list__item--three-line" style="color: #616161">
              <span >
                <i class="material-icons mdl-list__item-circle" style="margin-right: 50px; padding-left: 5px; padding-top: 5px">chrome_reader_mode</i>
               <span><strong>BROWSER SIDEBAR</strong></span>
                <span class="mdl-list__item-text-body" style="margin-left: 90px ">
                 
                  ReNoted Sidebar is designed to be always available, while also ensuring not to intrude into the activity you are performing - be it Reading an important news article, Watching an engaging Ted Talk or Listening to your favourite Podcast
                </span>
              </span>
            </li>
            <li class="mdl-list__item mdl-list__item--three-line" style="color: #616161">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons  mdl-list__item-avatar" style="margin-right: 50px">phonelink</i>
                <span><strong>ACCESS FROM ANYWHERE, ANYTIME</strong></span>
                <span class="mdl-list__item-text-body" style="margin-left: 90px">
                  Our web application is compatible with all the latest Desktop as well as Mobile browsers. You can access your ReNotes from anywhere, anytime.
                </span>
              </span>

            </li>
          </ul>
-->
          
          </section>
<!--
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <div class="mdl-card mdl-cell mdl-cell--6-col">
            <div class="mdl-card__title">
              <h4 class="mdl-card__title-text centertext"><strong>BROWSER PLUGIN</strong></h4>
            </div>

              <img src="images/Chrome.jpeg" width="100" height="100" border="0" alt="" style="padding:80px;">

            <div class="mdl-card__supporting-text">
              Install the browser plugin and access ReNoted with a Click
            </div>
            <div class="mdl-card__actions">
              <a href="(URL or function)">CHROME PLUGIN LINK</a>
            </div>
          </div>
          <div class="mdl-layout-spacer"></div>

          <div class="mdl-card mdl-cell mdl-cell--6-col">
            <div class="mdl-card__title">
              <h4 class="mdl-card__title-text centertext"><strong>CLOUD APPLICATION</strong></h4>
            </div>
           
              <img src="images/cloud-gears.png" width="100" height="100" border="0" alt="" style="padding:80px;">
      
            <div class="mdl-card__supporting-text">
             Access your ReNotes from anywhere, anytime using our Cloud-based web application
            </div>
            <div class="mdl-card__actions">
              <a href="(URL or function)">SIGN IN</a>
            </div>
          </div>
          </section> 
-->
        </div>

        <footer class="mdl-mega-footer">
          <div class="mdl-mega-footer--middle-section">
          <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Features</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Updates</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Details</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Spec</a></li>
                <li><a href="#">Tools</a></li>
                <li><a href="#">Resources</a></li>
              </ul>
            </div>

            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Technology</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">How it works</a></li>
                <li><a href="#">Patterns</a></li>
                <li><a href="#">Usage</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contracts</a></li>
              </ul>
            </div>


          <!--
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">FAQ</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Questions</a></li>
               <!-- <li><a href="#">Answers</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
          <!--
          <div class="mdl-mega-footer--bottom-section">
            <div class="mdl-logo">
              More Information
            </div>
            <ul class="mdl-mega-footer--link-list">
              <li><a href="https://developers.google.com/web/starter-kit/">Web Starter Kit</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy and Terms</a></li>
            </ul>
          </div>
          -->
        </footer>

      </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
