<header class="masthead">
  {% if feature('activity_pages') %}
  <a href="/" title="ReNoted homepage"><!--
    !--><img alt="ReNoted logo" class="masthead-logo" src="/assets/images/logo1.svg"></a>
  {% else %}
  <hgroup>
	<a href="https://renoted.com" class="masthead-heading">ReNoted</a>
  </hgroup>
  {% endif %}
</header>
